
*{padding: 1px;margin:auto;}


#wrap{
	/*border:solid;*/
	width:0px auto;
}

#mini_wrap{
	/*border:solid;*/
	width:0px auto;
	
	margin: 0px 40px 0px 40px;
}


#header{
	/*border:solid;*/
	width:auto;
	height:120px;
	margin-top: 15px;
}

#left_header{
	background-color: lightgray;
	/*border:solid;*/
	width:35%;
	height:100px;
	float: left;
}

#right_header{
	background-color: lightgray;
	/*border:solid;*/
	width:62%;
	height:100px;
	float: right;
}

#window{
	background-color: lightgray;
	/*border:solid;*/
	width:auto;
	height:220px;
	margin-top: 15px;
}


#container{
	/*border:solid;*/
	width:auto;
	height:650px;
	margin-top: 20px;

}

#left_box{
	/*border:solid;*/
	width:35%;
	float: left;
	height:600px;
	padding-top: 20px;
}

#right_box{
	/*border:solid;*/
	width:62%;
	float: right;
	height:600px;
	display: block;
	padding-top: 20px;
}

.box{
	/*border:solid;*/
	width:auto;
	height:150px;

	background-color: lightgray;
	margin-bottom: 50px;
}

.lines{
	/*border:solid;*/
	width:auto;
	height:19px ;
	margin-bottom:20px;
	background-color: lightgray;
}




#fotter
{
	margin-top: 20px;
	/*border:solid;*/
	width:auto;
	height:100px;
	background-color: lightgray;
}






